In [4]:
import pandas as pd
import os

In [5]:
DATA_PATH = '../data'
PRICES_PATH = os.path.join(DATA_PATH, 'prices')
prices = pd.read_csv(os.path.join(PRICES_PATH, 'Spain_prices.csv'))

In [6]:
prices

,Country,ISO3 Code,Datetime (UTC),Datetime (Local),Price (EUR/MWhe)
0,Spain,ESP,2015-01-01 00:00:00,2015-01-01 01:00:00,48.10
1,Spain,ESP,2015-01-01 01:00:00,2015-01-01 02:00:00,47.33
2,Spain,ESP,2015-01-01 02:00:00,2015-01-01 03:00:00,42.27
3,Spain,ESP,2015-01-01 03:00:00,2015-01-01 04:00:00,38.41
4,Spain,ESP,2015-01-01 04:00:00,2015-01-01 05:00:00,35.72
...,...,...,...,...,...
92217,Spain,ESP,2025-07-09 16:00:00,2025-07-09 18:00:00,75.40
92218,Spain,ESP,2025-07-09 17:00:00,2025-07-09 19:00:00,110.41
92219,Spain,ESP,2025-07-09 18:00:00,2025-07-09 20:00:00,115.04
92220,Spain,ESP,2025-07-09 19:00:00,2025-07-09 21:00:00,155.75
92221,Spain,ESP,2025-07-09 20:00:00,2025-07-09 22:00:00,145.01